/* Fade in keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 350ms;

  &.faster {
    animation-duration: 200ms;
  }

  &.delay {
    animation-duration: 200ms;
    animation-delay: 100ms;
  }
}

/* page transition */
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 350ms var(--ls-ease-default, cubic-bezier(0.25, 0.1, 0.25, 1.0));
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms var(--ls-ease-default, cubic-bezier(0.25, 0.1, 0.25, 1.0));
}
